@{
    ViewData["Title"] = "Home Page";
}

<div id="banner" class="banner">
   @*Maybe add a banner here later?*@
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Fun information about us.</h2>
		<p>We are really cool people!</p>
    </div>
    <div class="col-md-3">
        <h2>Fun information about the project</h2>
        <p>Words words</p>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <p>Words Words</p>
    </div>
</div>
