@{
    ViewData["Title"] = "Home Page";
}

<div id="banner" class="banner">
   @*Maybe add a banner here later?*@
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Fun information about us.</h2>
		<p>We are really cool people!</p>
		<p>James T. Moore<br />
			Zhi Zhang<br />
			Peter Bui
		</p>
    </div>
    <div class="col-md-3">
        <h2>Fun information about the project</h2>
		<p>Choose a type of sort using the links in the header.</p>
		<p>Select a premade list from the options given, to be sorted. Then the type in the size and how many iterations.</p>
		<p>When the sort is done, it will display how long it took for each iteration as well as the list to sort before and after it was sorted.</p>
        <p>It was really fun to create these different sorting algorithms and then translate them to a website setting.</p>
    </div>
</div>
