@{
    ViewData["Title"] = "Merge Sort";
}

<div class="row">
	<h2>@ViewData["Title"]</h2>
	<h3>@ViewData["Message"]</h3>
	<p>@Model.ResultTime</p>
	<p>Use this area to provide additional information.</p>

	<button clas="button" onclick="GetMergeSort('1')">click me</button>
	<div id="test"></div>
</div>